
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,900;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}
.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0,0,0.1);
    position: relative;
}
.profile-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 36%;
    border-radius: 24px 24px 0 0;
    background-color: rgb(71, 141, 187);
}
.image {

    position: relative; 
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 3px;
}
    
.image .profile-img { 
    height: 100%;   
    width: 100%;
    object-fit: cover; 
    border: 3px solid #fff;
    border-radius: 50%;
    
    }
.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}  


.text-center{
    text-align:center;
  }
  span{
    padding:10px;
  }



.text-data .name {
    margin: 25px 0px 0px ;
    font-size: 30px;
    font-weight: 500;
}
.text-data .job {
    margin: auto;
    font-size: 20px;
    font-weight: 400;
    color: rgb(34, 43, 67);
}
.text-data .name1 {
    font-style: italic;
    margin-top: 10px;
    color: rgb(255, 196, 196);
    margin: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.profile-card .media-buttons {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.media-buttons .link{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    text-decoration: none;
    margin: 5px 20px;
    background-color: green;
   

}
.profile-card .button{
    display: flex;
    align-items: center;
    margin: 10px 10px;

}
.button.button{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    color: #fff;
    font-size: 17px;
    background-color: #2513c5;

}
.button .button:hover{
    background-color: #0e4bf1;
}