* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
#main {

}
#header {
    height: 54px;
    width: 100%;
    background-color: black;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index:1;
}
#header #nav {
    display: inline-block;
}
#nav li {
    position: relative;
    display: inline-block;
    padding: 18px 20px;
}
#nav li a {
    color: white;
    list-style: none;
    text-decoration: none;
}
#nav li:hover {
    background-color: #757575;
    cursor: pointer;
}
.ti-facebook {
    float: right;
    color: white;
    padding: 16.5px 20px;
    text-decoration: none;
    font-size: 20px;
}
#header .ti-facebook:hover {
    background-color: red;
    text-decoration: none;
    color: black;
}
#slider {
    margin-top: 54px;
    padding-top: 42.5%;
    background: url(/assets/img/deadpool.jpg) top center / cover no-repeat;
}
#slider img {
    width: 100%;
}
#slider .slider-text {
    text-align: center;
    color: antiquewhite;
    line-height: 50px;
    letter-spacing: 10px;
}
#slider .slider-text .text-footer {
    font-size: 20px;
}
#profile {
    color: white;
    background-color: black;
    
}
#profile .list-img {
    width: 300px;
    height: 400px;
}
.profile-name {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
    font-size: 30px;
    position: relative;
}
.profile-list .list-vip {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}
.profile-list .list-pro {
    
}
.profile-list .list-pro .pood {
    background-color: white;
    color: black;
    width: 300px;
    height: 400px;
    list-style: none;
    padding: 20px 28px;
    
}

.ti-pencil {
    
}
.ti-user {
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.ti-tag {
    padding-top: 30px;
    
}
.ti-harddrives {
    padding-top: 30px;
    
}
.ti-headphone-alt {
    padding-top: 30px;
    
}
.ti-email {
    padding-top: 30px;
    padding-bottom: 30px;
    
}
